@import url("assets/css/gallery.css");

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
}


h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: white;
    text-align: center;
    
    padding: 45px;
    background-color: rgb(77, 96, 204);
    border-radius: 15px;
}

.column1 {
    float: left;
    width: 20%;
    padding: 20px;
    align-items: center;
    background-color: white;
    border-radius: 10px;

    /* center items in a div */
    text-align: center;
}

.column2 {
    float: left;
    width: 20%;
    padding: 20px;
    align-items: center;
    background-color: white;
    border-radius: 10px;

    /* center items in a div */
    text-align: center;
}

.column3 {
    float: left;
    width: 20%;
    padding: 20px;
    align-items: center;
    background-color: white;
    border-radius: 10px;

    /* center items in a div */
    text-align: center;
}

.column4 {
    float: left;
    width: 20%;
    padding: 20px;
    align-items: center;
    background-color: white;
    border-radius: 10px;

    /* center items in a div */
    text-align: center;
}

.column5 {
    float: left;
    width: 20%;
    padding: 20px;
    align-items: center;
    background-color: white;
    border-radius: 10px;

    /* center items in a div */
    text-align: center;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

#answer_button {
    height: 100px;
    width: 200px;
    background-color: aquamarine;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
}

#answer_button:hover {
    opacity: 70%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.center2 {
    display: flex;
    justify-content: center;
    align-items: center;
}