/* Content  */
#map { 
    height: 70vh; 
    width: 100%; 
    position: relative; 
    border: 2px solid black;
    border-radius: 4px;
}

#info-content {
    overflow-y: auto;
    max-height: 600px;
}

.info-box {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    z-index: 1000;
}



.modal-img {
    border-radius: 10px;
    
}

.location-name {
    text-align: center;
    background-color: bisque;
    border-radius: 4px;
    position: sticky;
    top: 0;
}

h1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 30px;
	margin-bottom: 30px;
    text-align: center;
}

h2 h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Button */
#updatesLogButton{
    display: flex;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 10px;
    /* width: 100px; */
    height: 50px;
    background-color: white;
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    opacity: 0.8;
    text-align: center;
    z-index: 500;
}

#updatesLogButton:hover{
    opacity: 1;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 2px 5px;
    border-radius: 3px;
}


/* Log */
.log-box {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    z-index: 1000;
}

#updates-log {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    z-index: 1000;
    max-height: 70%;
    overflow-y: auto;
}

#log-content {
    overflow-y: auto;
    max-height: 400px;
}

.updates-log-title {
    text-align: center;
    background-color: bisque;
    border-radius: 4px;
    position: sticky;
    top: 0;
}


img.marker-color-pink { 
    filter: hue-rotate(120deg); 
}


.marker-count-box {
    position: absolute;
    top: 20px; /* Adjust to your preference */
    left: 50px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: default;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
}
