/* Nav button */

#resetFilterHead {
    /* border: none;  */
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: inherit;
}

#resetFilterHead:hover {
    opacity: 70%;
}